.tags {
  display: flex;
  gap: 10px;
  & .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6060;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    min-width: 115px;
    height: 25px;
    padding: 0 15px;
    @media screen and (max-width: 768px) {
      font-size: 10px;
      border-radius: 5px;
      min-width: 84px;
      height: 18px;
      padding: 0 8px;
    }
  }
}
