* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

li {
  display: block;
}

.wrapper {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 50px;
  margin-top: 45px;
  padding: 0 25px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    gap: 20px;
    margin-top: 20px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo img {
  height: 68px;
}
@media screen and (max-width: 768px) {
  .navbar__logo img {
    height: 47px;
  }
}

.nav__menu {
  list-style: none;
  display: flex;
  gap: 55px;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  color: #000;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    font-size: 12px;
    text-transform: uppercase;
    gap: 25px;
  }
}
.nav__menu a.active {
  text-decoration: underline;
}
.nav__menu li {
  cursor: pointer;
}
.nav__menu li:hover {
  text-decoration: underline;
}

.banner {
  position: relative;
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  max-width: 1240px;
  margin: 0 auto;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .banner {
    height: 111px;
  }
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 25px;
}

.h1__back,
.h1__front {
  position: absolute;
  z-index: 2;
  font-weight: 700;
  font-size: 48px;
  padding: 15px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .h1__back,
  .h1__front {
    font-size: 24px;
    padding: 15px 94px 15px 15px;
  }
}

.h1__back {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px #000;
}

.apartment__card {
  background: linear-gradient(to bottom, #ff6060, #bb3d3d);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0x 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 340px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 400ms ease, box-shadow 400ms ease;
}
@media screen and (max-width: 768px) {
  .apartment__card {
    max-height: 255px;
  }
}
.apartment__card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}
.apartment__card:hover {
  transform: scale(1.025);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
}
.apartment__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.apartment__card h3 {
  padding: 20px;
  margin: 0;
  font-size: 18px;
  color: #fff;
  text-align: left;
  position: absolute;
  bottom: 0;
}

/*@import "../components/AppartementsList/AppartementsList";
@import "../components/ApartmentDetails/ApartmentDetails";
@import "../components/ApartmentDetails/Carousel/Carousel";
@import "../components/ApartmentDetails/Host/Host";
@import "../components/ApartmentDetails/Tags/Tags";
@import "../components/ApartmentDetails/Rating/Rating";
@import "../components/Collapse/Collapse";
@import "../components/Error/Error";*/
.footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 30px;
  color: #fff;
  gap: 28px;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: 20px;
  }
}
.footer h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 66px 120px 58px 120px;
  }
  .footer h2 {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
  }
}

.footer__logo img {
  height: 40px;
}/*# sourceMappingURL=style.css.map */