.banner {
  position: relative;
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  max-width: 1240px;
  margin: 0 auto;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    height: 111px;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 25px;
  }
}

.h1__back,
.h1__front {
  position: absolute;
  z-index: 2;
  font-weight: 700;
  font-size: 48zpx;
  padding: 15px;
  color: #fff;
  @media screen and (max-width: 768px) {
    font-size: 24px;
    padding: 15px 94px 15px 15px;
  }
}

.h1__back {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px #000;
}
