.footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 30px;
    color: #fff;
    gap: 28px;
    margin-top: 50px;
    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }
    & h2 {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        margin: 0;
    }
    @media screen and (max-width: 768px) {
        padding: 66px 120px 58px 120px;
        & h2 {
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            line-height: 17px;
        }
    }
}

.footer__logo img {
    height: 40px;
}