.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 139px;
  padding: 89px 0;
  @media screen and (max-width: 768px) {
    gap: 113px;
    padding: 93px 0;
  }
  & h4 {
    font-size: 288px;
    color: #ff6060;
    line-height: 75%;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: 96px;
    }
  }
  & h2 {
    font-size: 36px;
    color: #ff6060;
    font-weight: 500;
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
  & a {
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    transition: 400ms;
    &:hover {
      color: #ff6060;
    }
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}
