.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo img {
  height: 68px;
  @media screen and (max-width: 768px) {
    height: 47px;
  }
}

.nav__menu {
  list-style: none;
  display: flex;
  gap: 55px;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  color: #000;
  @media screen and (max-width: 768px) {
    font-size: 12px;
    text-transform: uppercase;
    gap: 25px;
  }
  & a {
    &.active {
      text-decoration: underline;
    }
  }
  & li {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
